.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos .photo {
    flex: 0 1 150px;
    margin: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.photos .photo-add {
    font-size: xx-large;
    width: 150px;
    height: 150px;
}
