.App {
    display: grid;
    height: 100vh;
    grid-template: repeat(11, 1fr) / auto 1fr auto;
}

header {
    grid-row: 1;
}

main {
    grid-row: 2 / 12;
}

footer {
    grid-row: 12;
}

.App header, .App main, .App footer {
    grid-column: 1 / 3;
}

.App main {
    display: grid;
    height: 100%;
    grid-template: repeat(auto-fit, calc(100% / 3)) / auto 1fr auto;
    overflow: auto;
}

.App .row {
    grid-column: 1 / span 3;
    justify-content: center;
    grid-row: span 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.App .row.double {
    grid-row: span 2;
}

.App .row .box {
    min-height: 150px;
    max-height: 100%;
    margin: 5px;
    border: solid 1px;
    border-radius: 5px;
    overflow-y: auto;
}

.App .box, .App footer {
    display: grid;
    place-items: center;
}

.App main.focused {
    grid-template-rows: repeat(12, 1fr);
    border: solid 1px;
    border-radius: 5px;
}

#focused-buttons {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1;
}

#focused-buttons > div {
    display: grid;
    place-items: center;
}

#focused-buttons > div:nth-child(1) {
    grid-column: 6;
}

#focused-buttons > div:nth-child(2) {
    grid-column: 7;
}

#focused-element {
    display: grid;
    grid-row: 2 / span 11;
}

#focused-element.photos {
    place-items: center;
}

#focused-element .photo {
    max-height: 100%;
    max-width: 100%;
}

#focused-element .note {
    padding: 0 5px;
}

#focused-element .note .title {
    text-align: center;
}
