.App {
    display: grid;
    height: 100vh;
    grid-template: auto auto 1fr 1fr / auto 1fr auto;
}

.App .Header {
    padding: 2rem;
    grid-column: 1/4;
}

.App .Users {
    grid-column: 3 / 4;
}

.App main {
    grid-column: 1 / 4;
}

.App .bottom {
    grid-column: 1 / 4;
}

.App .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.App .box {
    flex: 1 1 200px;
    margin: 5px;
}
