.App {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
}

.App .Header, .App main, .App footer {
    grid-column: 1 / 3;
}

.App .Header {
    padding: 2rem;
}

.App main.focused {
    display: grid;
    place-items: center;
}

.App main {
    display: grid;
    height: 100%;
    grid-template: auto / auto 1fr auto;
}

.App .row {
    grid-column: 1 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.App .row .box {
    flex: 1 1 200px;
    margin: 5px;
}

.App .box, .App footer {
    display: grid;
    place-items: center;
}
