:root {
    --base-color: #e8e6e3;
    --base-background: #181a1b;
    --lighter-background: #313638;
}

a {
    text-decoration: none;
}

.button {
    cursor: pointer;
}

input, textarea {
    color: var(--base-color);
    background-color: var(--lighter-background);
}

.brand {
    color: #005dc1;
}

.alt {
    color: #C26400;
}

.success {
    color: #5dc100;
}

.warning {
    color: #c16400;
}

.danger {
    color: #c1005d;
}
