:root {
    --base-color: #e8e6e3;
    --base-background: #181a1b;
    --lighter-background: #313638;
    --brand: #005dc1;
    --alt: #C26400;
}

a {
    text-decoration: none;
    color: var(--brand);
}

a:hover, button:hover, .button:hover {
    filter: brightness(1.5);
}

.button {
    cursor: pointer;
}

input, textarea {
    color: var(--base-color);
    background-color: var(--lighter-background);
}

.brand {
    color: var(--brand);
}

.alt {
    color: var(--alt);
}

.success {
    color: #5dc100;
}

.warning {
    color: #c16400;
}

.danger {
    color: #c1005d;
}
