header {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(12, 1fr);
}

#header-back {
    grid-column: 1 / 4;
}
#header-title {
    grid-column: 4 / 10;
}
#header-favorite {
    grid-column: 10 / 11;
}
#header-menu {
    grid-column: 11 / 12;
}

.description {
    grid-column: 5 / 6;
}

.Users {
    grid-column: 10 / 12;
}
