header {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(12, 1fr);
}

#header-back {
    grid-column: 1;
}
#header-title {
    grid-column: 4 / 10;
}
#header-buttons, .Users {
    grid-column: 11 / 13;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

#header-buttons .button {
    margin: auto 5px;
}

.description {
    grid-column: 5 / 11;
    width: 100%;
}

.Users .user-icon {
    margin: auto 2px;
}
