main {
    display: grid;
    height: 100%;
    grid-template: repeat(auto-fit, calc(100% / 3)) / auto 1fr auto;
    overflow: auto;
}

.row {
    grid-column: 1 / span 3;
    justify-content: center;
    grid-row: span 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.row.double {
    grid-row: span 2;
}

.row .box {
    min-height: 150px;
    max-height: 100%;
    margin: 5px;
    border: solid 1px;
    border-radius: 5px;
    overflow-y: auto;
}

.box, footer {
    display: grid;
    place-items: center;
}

main.focused {
    grid-template-rows: repeat(12, 1fr);
    border: solid 1px;
    border-radius: 5px;
}

#focused-buttons {
    grid-row: 1;
    display: flex;
    place-items: center;
}

#focused-buttons .button {
    margin: 0.5rem;
}

#focused-element {
    display: grid;
    grid-row: 2 / span 11;
}

#focused-element.focused-photos {
    place-items: center;
}

#focused-element .photo {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

#focused-element .note {
    padding: 0 5px;
}

#focused-element input,
#focused-element textarea {
    border: none;
}

#focused-element .note .title,
#focused-element input {
    text-align: center;
    font-size: 2rem;
}

#focused-element .note .content textarea {
    width: 100%;
}

#focused-element .note label {
    font-size: small;
    color: rgba(var(--base-color), 1.5);
}
