.notes {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / auto;
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
}

.notes .note {
    display: grid;
    align-items: center;
    cursor: pointer;
}

.notes .note:nth-child(even) {
    background-color: #2b2b2b;
}

.notes .note > span {
    padding: 0 5px;
}
